https://download.pytorch.org/whl/cpu/torchvision-0.8.2%2Bcpu-cp38-cp38-linux_x86_64.whl
fastai==2.2.5
voila==0.2.6
ipywidgets==7.6.3
fastapi==0.63.0
gunicorn==20.1.0
uvicorn==0.13.4
urllib3==1.25.11
numpy==1.19.5
pathlib==1.0.1